.bg-darky {
    background: #24292e;
    color: var(--light);
}

svg > .logo {
    fill: white;
}

nav * {
    font-size: 1rem !important;
    box-shadow: none !important;
}

#search {
    background: #3f4448;
    height: 28px;
    border: 0;
    color: #eee;
    font-size: 13px !important;
    min-width: 20em;
    max-width: 90%;
}

input[type="text"],
textarea {
    outline: none;
    box-shadow: none !important;
}

.type {
    text-transform: uppercase;
    background: #3f4448;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 1em;
}

.copy {
    cursor: pointer;
}

code {
    padding: 2px;
    border-radius: 3px;
}

code:not(.dark) {
    background: #efefef;
    color: #222;
}

code.dark {
    background: #3f4448;
    color: #eee;
}
