body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#topbar,
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
  position: fixed;
  z-index: 2;
}

#topbar li {
  display: inline-block;
  margin: 0 7.5px 0 7.5px;
}

#topbar {
  display: flex;
  background: #488AFF;
  vertical-align: middle;
  align-items: center;
  height: 10%;
  width: 100%;
  top: 0;
}

#navbar {
  max-width: 20%;
  top: 10%;
  background: #242D32;
  height: 90%;
  overflow-y: auto;
}

#mobileDropdown {
  display: none;
}

#mobileDropdown:active {
  color: #ddd;
}

#Layer_1 {
  fill: white;
  width: 30px;
  height: 30px;
}

#content {
  overflow: auto;
  position: fixed;
  height: 90%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#navbar li:hover {
  background: rgba(0, 0, 0, 0.1);
}

#navbar li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

li a {
  display: block;
  color: #c2c2c2;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
}

.card {
  margin-left: 25%;
  margin-right: 10%;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  background: white;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.card header {
  background: #578cf7;
  padding: 5px 5px 5px 20px;
  border-radius: 4px 4px 0 0;
  color: white;
}

.card h2 {
  font-size: 14px;
  font-weight: 700;
}

.card h2 > .type {
  top: 0;
  width: 64px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 15px 0 0;
  padding: 9px;
  border-radius: 5px;
}

code {
  font-weight: 400;
}

.placeholder {
  background: rgba(0, 0, 0, 0.1);
  padding: 2.5px;
  border-radius: 5px;
}

.card-info code {
  width: 580px;
  padding: 3px 0 1px 0;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  overflow-wrap: break-word;
}

.card-info, .card-description {
  padding: 10px 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}

.card > .other {
  padding: 10px 20px;
  color: black;
  border-top: 1px solid #ddd;
  line-height: 20px;
}

pre.code {
  background: rgba(0, 0, 0, 0.03);
  padding: 5px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

span.code {
  background: rgba(0, 0, 0, 0.03);
  padding: 1px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

button {
  border: 0;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}

button:active {
  background: #ddd;
}

* {
  outline: 0;
}
